@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: "acumin-pro-wide";
}
body {
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
}
h1,
h2 {
  @apply font-semibold text-5xl mb-[20px] uppercase text-white;
}

a {
  @apply font-medium;
}
a:hover {
  @apply text-[#be8d2e];
}
p {
  @apply p-3 text-white;
}
